@import '@aws-amplify/ui-react/styles.css';

@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab');

:root {
  /*PALETTE*/

  /*TYPOGRAPHY*/
  --amplify-fonts-default-variable: 'Josefin Slab';
  --amplify-fonts-default-static: 'Josefin Slab';
  --amplify-colors-font-primary: hsl(206, 40%, 13%);

  /*BORDERS*/
  --amplify-radii-small: 0;
  --amplify-radii-medium: 0;
  --amplify-radii-large: 0;
  --amplify-space-small: 1rem;
  --amplify-space-medium: 1.5rem;
  --amplify-space-large: 2rem;
  --amplify-border-widths-small: 2px;
  --amplify-border-widths-medium: 4px;
  --amplify-border-widths-large: 8px;
}
